{#Variables:#}
{#- user_name: full name of the user (publisher or information owner)#}
{#- pages: array of pages#}
{#    - page: \Drupal\tieto_lifecycle_management_notifications\Data\EntityLifeCycleData object #}
{#- contact_mail: email address#}
<div>
    Hello {{ user_name }},

    We have now unpublished multiple Intra pages you have published or where you are marked as an information owner.
    The content was not updated within the previous 12 months.
    If the pages are still needed, you can find it in an unpublished mode in the Intra publishing platform.
    The pages can be published again until the given dates.

    Follow the link(s) to review the pages:
    <ul>
        {% for page in pages %}
            <li>
                <a href="{{ page.url }}" target="_blank" rel="noreferrer noopener nofollow">{{ page.title }}</a>
                <span class="entity-remove-date">Delete date: {{ page.deleteDate }}</span>
            </li>
        {% endfor %}
    </ul>

    Kind regards,
    Your Intra administrator

    In case you have questions related to this email you’re welcome to contact <a
            href="mailto:{{ contact_mail }}">{{ contact_mail }}</a>
</div>
